* {
     box-sizing: border-box;
}

#footer {
     text-align: center;
     font-size: 12px;
     margin-top: 10px;
}

.margin {
     margin-top: 10px;
}

.marcuspic {
     margin-top: 10px;
     margin-bottom: 10px;
}

#margin-bottom {
     margin-bottom: 20px;
}

#padding {
     padding-left: 16px;
}

#margin-right {
     margin-right: 10px;
}

#aboutme {
     font-size: 22px;
     margin-left: 16px;
     margin-bottom: 8px;
}

#margin-left {
     margin-left: 0px;
}

#card-bottom {
     margin-bottom: 10px;
}